In [1]:
import pandas as pd

In [2]:
agent_login = pd.read_csv("C:/Users/praty/PycharmProjects/datasets/Agent_Login_Report.csv")

In [3]:
agent_login

,Agent Login Report,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,SL No,Agent,Date,Login Time,Logout Time,Duration
2,1,Shivananda Sonwane,30-Jul-22,03:35:29 PM,05:39:39 PM,02:04:10
3,2,Khushboo Priya,30-Jul-22,03:06:59 PM,03:07:16 PM,00:00:17
4,3,Nandani Gupta,30-Jul-22,03:04:24 PM,05:31:07 PM,02:26:42
...,...,...,...,...,...,...
997,996,Manjunatha A,20-Jul-22,09:03:51 AM,03:02:28 PM,05:58:37
998,997,Bharath,20-Jul-22,09:00:49 AM,03:01:32 PM,06:00:43
999,998,Khushboo Priya,20-Jul-22,08:59:20 AM,02:26:55 PM,05:27:34
1000,999,Nishtha Jain,20-Jul-22,08:43:55 AM,02:00:33 PM,05:16:38
1001,1000,Tarun,01-Jul-22,01:52:47 AM,12:01:07 PM,514:08:20

In [4]:
agent_login.drop(agent_login.index[:1], inplace=True)

In [5]:
new_header = agent_login.iloc[0] 
agent_login = agent_login[1:] 
agent_login.columns = new_header

In [6]:
agent_login

1    SL No               Agent       Date   Login Time  Logout Time   Duration
2        1  Shivananda Sonwane  30-Jul-22  03:35:29 PM  05:39:39 PM   02:04:10
3        2      Khushboo Priya  30-Jul-22  03:06:59 PM  03:07:16 PM   00:00:17
4        3       Nandani Gupta  30-Jul-22  03:04:24 PM  05:31:07 PM   02:26:42
5        4     Hrisikesh Neogi  30-Jul-22  02:34:29 PM  03:19:35 PM   00:45:06
6        5             Mukesh   30-Jul-22  02:03:15 PM  03:11:52 PM   01:08:36
...    ...                 ...        ...          ...          ...        ...
997    996        Manjunatha A  20-Jul-22  09:03:51 AM  03:02:28 PM   05:58:37
998    997            Bharath   20-Jul-22  09:00:49 AM  03:01:32 PM   06:00:43
999    998      Khushboo Priya  20-Jul-22  08:59:20 AM  02:26:55 PM   05:27:34
1000   999        Nishtha Jain  20-Jul-22  08:43:55 AM  02:00:33 PM   05:16:38
1001  1000              Tarun   01-Jul-22  01:52:47 AM  12:01:07 PM  514:08:20

[1000 rows x 6 columns]

In [7]:
agent_perform = pd.read_csv("C:/Users/praty/PycharmProjects/datasets/AgentPerformance.csv",header=None)

In [8]:
agent_perform

,0,1,2,3,4,5,6,7
0,Agent Performance Report,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
2,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
3,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
4,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
...,...,...,...,...,...,...,...,...
2157,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0
2158,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0
2159,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0
2160,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0
2161,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0

In [9]:
agent_perform.drop(agent_perform.index[:1], inplace=True)

In [10]:
new_header = agent_perform.iloc[0] 
agent_perform = agent_perform[1:] 
agent_perform.columns = new_header

In [11]:
agent_perform

1,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback
2,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9
3,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7
4,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11
5,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7
6,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6
...,...,...,...,...,...,...,...,...
2157,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0
2158,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0
2159,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0
2160,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0
2161,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0

In [12]:
agent_perform.dtypes

1
SL No                      object
Date                       object
Agent Name                 object
Total Chats                object
Average Response Time      object
Average Resolution Time    object
Average Rating             object
Total Feedback             object
dtype: object

# 1 .Find out there avarage rating on weekly basis keep this in a mind that they take two days of leave

In [13]:
agent_perform['converted_date']=pd.to_datetime(agent_perform['Date'])

<ipython-input-13-77c6ee14171e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['converted_date']=pd.to_datetime(agent_perform['Date'])

In [14]:
agent_perform['week_day'] = agent_perform['converted_date'].dt.day_name()

<ipython-input-14-d3ed842149d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['week_day'] = agent_perform['converted_date'].dt.day_name()

In [15]:
agent_perform['day'] = agent_perform['converted_date'].dt.dayofweek

<ipython-input-15-bd714f44c228>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['day'] = agent_perform['converted_date'].dt.dayofweek

In [16]:
agent_perform

1,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_date,week_day,day
2,1,2022-07-30,Prerna Singh,11,00:00:38,00:04:20,4.11,9,2022-07-30,Saturday,5
3,2,2022-07-30,Nandani Gupta,11,00:01:15,00:28:25,3.14,7,2022-07-30,Saturday,5
4,3,2022-07-30,Ameya Jain,14,00:00:30,00:11:36,4.55,11,2022-07-30,Saturday,5
5,4,2022-07-30,Mahesh Sarade,14,00:01:04,00:15:46,4.71,7,2022-07-30,Saturday,5
6,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,Saturday,5
...,...,...,...,...,...,...,...,...,...,...,...
2157,2156,2022-07-01,Sowmiya Sivakumar,0,00:00:00,00:00:00,0.0,0,2022-07-01,Friday,4
2158,2157,2022-07-01,Nitin M,0,00:00:00,00:00:00,0.0,0,2022-07-01,Friday,4
2159,2158,2022-07-01,Vivek,0,00:00:00,00:00:00,0.0,0,2022-07-01,Friday,4
2160,2159,2022-07-01,Ayushi Mishra,0,00:00:00,00:00:00,0.0,0,2022-07-01,Friday,4
2161,2160,2022-07-01,Chaitra K Hiremath,0,00:00:00,00:00:00,0.0,0,2022-07-01,Friday,4

In [17]:
agent_perform['Average Rating'] =agent_perform['Average Rating'].astype(float)

<ipython-input-17-162949c181e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['Average Rating'] =agent_perform['Average Rating'].astype(float)

In [18]:
week_day_report = agent_perform[agent_perform['day'] <5]

In [19]:
week_day_report.groupby('week_day')['Average Rating'].mean()

week_day
Friday       1.490917
Monday       1.492465
Thursday     1.401285
Tuesday      1.500243
Wednesday    1.669931
Name: Average Rating, dtype: float64

# 2 .Total working days for each agents

In [20]:
agent_login['converted_date']=pd.to_datetime(agent_login['Date'])

<ipython-input-20-d73267a56ad5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['converted_date']=pd.to_datetime(agent_login['Date'])

In [21]:
agent_login['day'] = agent_login['converted_date'].dt.day

<ipython-input-21-e95eea77b595>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['day'] = agent_login['converted_date'].dt.day

In [22]:
agent_login['month'] = agent_login['converted_date'].dt.month

<ipython-input-22-2fb23874041f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['month'] = agent_login['converted_date'].dt.month

In [23]:
agent_login['year'] = agent_login['converted_date'].dt.year

<ipython-input-23-d838bcb35e74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['year'] = agent_login['converted_date'].dt.year

In [24]:
agent_login.groupby(["Agent"])["day"].nunique()

Agent
Aditya Shinde              1
Aditya_iot                 8
Amersh                     2
Ameya Jain                 7
Ankitjha                   2
Anurag Tiwari             10
Aravind                    7
Ayushi Mishra              9
Bharath                    8
Boktiar Ahmed Bappy        9
Chaitra K Hiremath         7
Deepranjan Gupta          10
Dibyanshu                  9
Harikrishnan Shaji         9
Hrisikesh Neogi            9
Hyder Abbas                2
Ineuron Intelligence       1
Ishawant Kumar            11
Jawala Prakash             9
Jaydeep Dixit              7
Khushboo Priya             8
Madhulika G                8
Mahesh Sarade              8
Maitry                     5
Manjunatha A               7
Mithun S                   8
Mukesh                     2
Muskan Garg                6
Nandani Gupta              9
Nishtha Jain               8
Nitin M                    1
Prabir Kumar Satapathy     7
Prateek _iot              11
Prerna Singh               9
Rishav Dash                7
Saikumarreddy N            7
Sanjeev Kumar              9
Saurabh Shukla             4
Shiva Srivastava           8
Shivan K                   8
Shivananda Sonwane        10
Shubham Sharma            11
Sowmiya Sivakumar          8
Sudhanshu Kumar            6
Suraj S Bilgi              2
Swati                      4
Tarun                      1
Wasim                      9
Zeeshan                    9
Name: day, dtype: int64

# 3. Total query that you have taken

In [25]:
sum(agent_perform['Total Chats'].astype(int) )

14720

# 4. total Feedback that you have received

In [26]:
sum(agent_perform['Total Feedback'].astype(int) )

9259

# 5. a agent name who have average rating between 3.5 to 4

In [27]:
agent_perform[agent_perform['Average Rating'].between(3.5, 4)]

1,SL No,Date,Agent Name,Total Chats,Average Response Time,Average Resolution Time,Average Rating,Total Feedback,converted_date,week_day,day
6,5,2022-07-30,Swati,14,00:01:11,00:16:33,3.67,6,2022-07-30,Saturday,5
12,11,2022-07-30,Manjunatha A,11,00:00:47,00:42:56,3.60,5,2022-07-30,Saturday,5
75,74,2022-07-29,Boktiar Ahmed Bappy,11,00:01:59,00:18:25,4.00,5,2022-07-29,Friday,4
78,77,2022-07-29,Prateek _iot,8,00:00:36,00:10:41,3.75,4,2022-07-29,Friday,4
80,79,2022-07-29,Nandani Gupta,24,00:01:24,00:28:53,3.79,14,2022-07-29,Friday,4
...,...,...,...,...,...,...,...,...,...,...,...
1943,1942,2022-07-04,Jawala Prakash,6,00:00:44,00:02:28,3.80,5,2022-07-04,Monday,0
2020,2019,2022-07-02,Sanjeev Kumar,14,00:01:34,00:18:20,4.00,12,2022-07-02,Saturday,5
2023,2022,2022-07-02,Aditya Shinde,57,00:01:26,00:19:52,3.54,28,2022-07-02,Saturday,5
2025,2024,2022-07-02,Deepranjan Gupta,52,00:01:10,00:35:14,3.71,24,2022-07-02,Saturday,5
2099,2098,2022-07-01,Sanjeev Kumar,22,00:01:12,00:30:34,4.00,13,2022-07-01,Friday,4

# 6 . Agent name who have rating lesss then 3.5

In [28]:
agent_perform[agent_perform['Average Rating'] < 3.5]['Agent Name']

3            Nandani Gupta
21        Hitesh Choudhary
22              Sanjeevan
23                Anirudh
24        Shiva Srivastava
               ...
2157     Sowmiya Sivakumar
2158               Nitin M
2159                Vivek
2160         Ayushi Mishra
2161    Chaitra K Hiremath
Name: Agent Name, Length: 1474, dtype: object

# 7 . agent name who have rating more then 4.5

In [29]:
agent_perform[agent_perform['Average Rating'] > 4.5]['Agent Name']

4               Ameya Jain
5            Mahesh Sarade
7                  Mukesh
8          Saikumarreddy N
9            Sanjeev Kumar
               ...
2102        Shubham Sharma
2103         Jaydeep Dixit
2104    Shivananda Sonwane
2105        Khushboo Priya
2106       Hrisikesh Neogi
Name: Agent Name, Length: 307, dtype: object

# 8 . how many feedaback agents have received more then 4.5 average

In [30]:
agent_perform[agent_perform['Total Feedback'].astype(int) > 4.5]['Agent Name'].size

621

# 9 . average weekly response time for each agent

In [31]:
agent_perform['Average Response Time']=pd.to_timedelta(agent_perform["Average Response Time"] )

<ipython-input-31-9ff9827d933e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['Average Response Time']=pd.to_timedelta(agent_perform["Average Response Time"] )

In [32]:
agent_perform['minute']=agent_perform['Average Response Time'].dt.components['minutes']

<ipython-input-32-f8c671083d74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['minute']=agent_perform['Average Response Time'].dt.components['minutes']

In [33]:
agent_perform.groupby('Agent Name')['week_day','minute'].mean()

<ipython-input-33-b026c25a911e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  agent_perform.groupby('Agent Name')['week_day','minute'].mean()

1                minute
Agent Name
Abhishek       0.000000
Aditya         0.000000
Aditya Shinde  0.333333
Aditya_iot     0.200000
Amersh         0.000000
...                 ...
Uday Mishra    0.000000
Vasanth P      0.000000
Vivek          0.133333
Wasim          0.200000
Zeeshan        0.733333

[70 rows x 1 columns]

# 10 . average weekely resolution time for each agents

In [34]:
agent_perform['Average Resolution Time']=pd.to_timedelta(agent_perform["Average Resolution Time"] )

<ipython-input-34-0dc918c084f6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['Average Resolution Time']=pd.to_timedelta(agent_perform["Average Resolution Time"] )

In [35]:
agent_perform['res_minute']=agent_perform['Average Resolution Time'].dt.components['minutes']

<ipython-input-35-ede10518c94d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['res_minute']=agent_perform['Average Resolution Time'].dt.components['minutes']

In [36]:
agent_perform.groupby('Agent Name')['week_day','res_minute'].mean()

<ipython-input-36-bbb9ddf00544>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  agent_perform.groupby('Agent Name')['week_day','res_minute'].mean()

1              res_minute
Agent Name
Abhishek         0.000000
Aditya           0.000000
Aditya Shinde   10.166667
Aditya_iot       9.500000
Amersh           0.000000
...                   ...
Uday Mishra      0.000000
Vasanth P        0.000000
Vivek            2.466667
Wasim           11.200000
Zeeshan         10.533333

[70 rows x 1 columns]

# 11 . list of all agents name

In [37]:
agent_login['Agent'].unique()

array(['Shivananda Sonwane', 'Khushboo Priya', 'Nandani Gupta',
       'Hrisikesh Neogi', 'Mukesh ', 'Sowmiya Sivakumar', 'Manjunatha A',
       'Harikrishnan Shaji', 'Suraj S Bilgi', 'Shivan K', 'Anurag Tiwari',
       'Ishawant Kumar', 'Shubham Sharma', 'Prerna Singh', 'Nishtha Jain',
       'Prateek _iot ', 'Mithun S', 'Madhulika G', 'Boktiar Ahmed Bappy',
       'Jawala Prakash', 'Dibyanshu ', 'Deepranjan Gupta',
       'Jaydeep Dixit', 'Ayushi Mishra', 'Mahesh Sarade', 'Muskan Garg',
       'Chaitra K Hiremath', 'Shiva Srivastava', 'Aditya_iot ',
       'Prabir Kumar Satapathy', 'Sanjeev Kumar', 'Zeeshan ',
       'Rishav Dash', 'Wasim ', 'Bharath ', 'Ameya Jain',
       'Saikumarreddy N', 'Aravind ', 'Amersh ', 'Sudhanshu Kumar',
       'Ankitjha ', 'Maitry ', 'Aditya Shinde', 'Hyder Abbas', 'Swati ',
       'Saurabh Shukla', 'Nitin M', 'Ineuron Intelligence ', 'Tarun '],
      dtype=object)

# 12 . percentage of chat on which they have received a feedback

In [38]:
agent_perform['percentage_chat_revceive']=(agent_perform['Total Feedback'].astype(int) / agent_perform['Total Chats'].astype(int)) *100

<ipython-input-38-a0bf543b72fa>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_perform['percentage_chat_revceive']=(agent_perform['Total Feedback'].astype(int) / agent_perform['Total Chats'].astype(int)) *100

In [39]:
agent_perform['percentage_chat_revceive'].head(10)

2     81.818182
3     63.636364
4     78.571429
5     50.000000
6     42.857143
7     88.888889
8     80.000000
9     50.000000
10    61.538462
11    80.000000
Name: percentage_chat_revceive, dtype: float64

# 13 . Total contributation hour for each and every agents weekly basis

In [40]:
agent_login['Duration'] = pd.to_timedelta(agent_login['Duration'])

<ipython-input-40-4d193efc9a74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['Duration'] = pd.to_timedelta(agent_login['Duration'])

In [41]:
agent_login['hour']=agent_login['Duration'].dt.components['hours']

<ipython-input-41-93dbec19bfd5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['hour']=agent_login['Duration'].dt.components['hours']

In [42]:
agent_login

1,SL No,Agent,Date,Login Time,Logout Time,Duration,converted_date,day,month,year,hour
2,1,Shivananda Sonwane,30-Jul-22,03:35:29 PM,05:39:39 PM,0 days 02:04:10,2022-07-30,30,7,2022,2
3,2,Khushboo Priya,30-Jul-22,03:06:59 PM,03:07:16 PM,0 days 00:00:17,2022-07-30,30,7,2022,0
4,3,Nandani Gupta,30-Jul-22,03:04:24 PM,05:31:07 PM,0 days 02:26:42,2022-07-30,30,7,2022,2
5,4,Hrisikesh Neogi,30-Jul-22,02:34:29 PM,03:19:35 PM,0 days 00:45:06,2022-07-30,30,7,2022,0
6,5,Mukesh,30-Jul-22,02:03:15 PM,03:11:52 PM,0 days 01:08:36,2022-07-30,30,7,2022,1
...,...,...,...,...,...,...,...,...,...,...,...
997,996,Manjunatha A,20-Jul-22,09:03:51 AM,03:02:28 PM,0 days 05:58:37,2022-07-20,20,7,2022,5
998,997,Bharath,20-Jul-22,09:00:49 AM,03:01:32 PM,0 days 06:00:43,2022-07-20,20,7,2022,6
999,998,Khushboo Priya,20-Jul-22,08:59:20 AM,02:26:55 PM,0 days 05:27:34,2022-07-20,20,7,2022,5
1000,999,Nishtha Jain,20-Jul-22,08:43:55 AM,02:00:33 PM,0 days 05:16:38,2022-07-20,20,7,2022,5
1001,1000,Tarun,01-Jul-22,01:52:47 AM,12:01:07 PM,21 days 10:08:20,2022-07-01,1,7,2022,10

In [43]:
agent_login['week_day'] = agent_login['converted_date'].dt.day_name()

<ipython-input-43-e896ee67e77e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['week_day'] = agent_login['converted_date'].dt.day_name()

In [44]:
agent_login['day_num'] = agent_login['converted_date'].dt.dayofweek

<ipython-input-44-e6845fbe8566>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  agent_login['day_num'] = agent_login['converted_date'].dt.dayofweek

In [45]:
agent_login.groupby('week_day')['hour'].sum()

week_day
Friday       282
Monday       122
Saturday     180
Sunday       122
Thursday     229
Tuesday      126
Wednesday    314
Name: hour, dtype: int64

# 14. total percentage of active hour for a month

In [46]:
(sum(agent_login['hour'])/744)*100

184.81182795698925