In [1]:
import pandas as pd

# 1 . load this data in sql and in pandas with a relation in sql

## using pandas
### orders sheet

In [2]:
orders  = pd.read_excel('C:/Users/praty/PycharmProjects/datasets/Superstore_USA.xlsx',sheet_name = 'Orders')

In [3]:
orders

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Region,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Central,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,West,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,East,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,East,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,West,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,West,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533

### returns sheet

In [4]:
returns  = pd.read_excel('C:/Users/praty/PycharmProjects/datasets/Superstore_USA.xlsx',sheet_name = 'Returns')

In [5]:
returns

      Order ID    Status
0           65  Returned
1          612  Returned
2          614  Returned
3          678  Returned
4          710  Returned
...        ...       ...
1629    182681  Returned
1630    182683  Returned
1631    182750  Returned
1632    182781  Returned
1633    182906  Returned

[1634 rows x 2 columns]

### users sheet

In [6]:
users  = pd.read_excel('C:/Users/praty/PycharmProjects/datasets/Superstore_USA.xlsx',sheet_name = 'Users')

In [7]:
users

    Region  Manager
0  Central    Chris
1     East     Erin
2    South      Sam
3     West  William

# 2 . while loading this data you dont have to create a table manually you can use any automated approach to create a table and load a data in bulk in table

## using SQL

In [9]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://root:Chahit@1117@localhost/superstore_usa')

orders.to_sql('orders_data', con=engine, index=False) 
returns.to_sql('returns_data', con=engine, index=False) 
users.to_sql('users_data', con=engine, index=False)

# 3 . Find out how return that we have received and with a product id

In [10]:
returns.columns

Index(['Order ID', 'Status'], dtype='object')

In [11]:
returns_count = returns.groupby('Status')['Order ID'].count()
returns_count

Status
Returned    1634
Name: Order ID, dtype: int64

# 4 . try  to join order and return data both in sql and pandas

## using pandas

In [12]:
order_return = pd.merge(orders, returns, on="Order ID", how="left")

In [13]:
order_return['Status'].fillna('No',inplace =True)

In [14]:
order_return.Status.unique()

array(['No', 'Returned'], dtype=object)

## using sql

In [15]:
import mysql.connector as conn

mydb = conn.connect(host = "localhost",user = "root",password="Chahit@1117",db ="superstore_usa")
cursor = mydb.cursor()
cursor.execute("set session sql_mode='' ")
cursor.execute("select * from orders_data  left outer join returns_data   on orders_data.`Order ID` = returns_data.`Order ID`;")

In [16]:
l =[]
for i in cursor.fetchall():
    l.append(i)

In [17]:
print(l)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

# 5 . Try to find out how many unique customer that we have

In [18]:
len(pd.unique(orders['Customer ID']))

2703

# 6 . try to find out in how many regions we are selling a product and who is a manager for a respective region

In [19]:
order_users = pd.merge(orders, users, how='left', left_on = 'Region', right_on = 'Region' )
order_users

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,Chris
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,William
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,William
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,William
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,Erin
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,Erin
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,Erin
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,William
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,William

In [20]:
region_manager = order_users.groupby(['Region','Manager'])['Order ID'].count()
region_manager

Region   Manager
Central  Chris      2899
East     Erin       2289
South    Sam        1954
West     William    2284
Name: Order ID, dtype: int64

# 7 . find out how many different differnet shipement mode that we have and what is a percentage usablity of all the shipment mode with respect to dataset

In [21]:
ship_mode = orders.groupby(['Ship Mode'])['Ship Mode'].count()
ship_mode

Ship Mode
Delivery Truck    1283
Express Air       1107
Regular Air       7036
Name: Ship Mode, dtype: int64

In [22]:
ship_mode.div(ship_mode, level='ship_mode') * 100

Ship Mode
Delivery Truck    100.0
Express Air       100.0
Regular Air       100.0
Name: Ship Mode, dtype: float64

# 8 . Create a new coulmn and try to find our a diffrence between order date and shipment date

In [23]:
orders.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
dtype: object

In [24]:
orders['converted_Order Date'] = pd.to_datetime(orders['Order Date'])

In [25]:
orders['converted_Ship Date'] = pd.to_datetime(orders['Ship Date'])

In [26]:
orders.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'converted_Order Date',
       'converted_Ship Date'],
      dtype='object')

In [27]:
orders.head(10)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,converted_Order Date,converted_Ship Date
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,2012-05-28,2012-05-30
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,2010-07-07,2010-07-08
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,2011-07-27,2011-07-28
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,2011-07-27,2011-07-28
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,2011-07-27,2011-07-27
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524,2011-11-09,2011-11-11
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,...,Anacortes,98221,2013-07-01,2013-07-08,1001.4453,12,1451.37,88526,2013-07-01,2013-07-08
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,San Gabriel,91776,2010-12-13,2010-12-15,4390.3665,12,6362.85,90193,2010-12-13,2010-12-15
8,19483,Low,0.08,6.48,6.81,5,Ronnie Proctor,Regular Air,Home Office,Office Supplies,...,San Gabriel,91776,2012-05-12,2012-05-21,-141.2600,18,113.25,90197,2012-05-12,2012-05-21
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,San Jose,95123,2011-05-26,2011-05-26,1045.4673,16,1515.17,90194,2011-05-26,2011-05-26

In [28]:
orders['diff_order_ship'] = (orders['converted_Ship Date']- orders['converted_Order Date']).dt.days

In [29]:
orders.head(10)

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,converted_Order Date,converted_Ship Date,diff_order_ship
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,60101,2012-05-28,2012-05-30,1.3200,2,5.90,88525,2012-05-28,2012-05-30,2
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2010-07-07,2010-07-08,4.5600,4,13.01,88522,2010-07-07,2010-07-08,1
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-47.6400,7,49.92,88523,2011-07-27,2011-07-28,1
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,98221,2011-07-27,2011-07-28,-30.5100,7,41.64,88523,2011-07-27,2011-07-28,1
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,98221,2011-07-27,2011-07-27,998.2023,8,1446.67,88523,2011-07-27,2011-07-27,0
5,23597,Medium,0.09,55.48,14.30,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,98221,2011-11-09,2011-11-11,1388.0523,37,2011.67,88524,2011-11-09,2011-11-11,2
6,25549,Low,0.08,120.97,26.30,3,Bonnie Potter,Delivery Truck,Corporate,Technology,...,98221,2013-07-01,2013-07-08,1001.4453,12,1451.37,88526,2013-07-01,2013-07-08,7
7,20228,Not Specified,0.02,500.98,26.00,5,Ronnie Proctor,Delivery Truck,Home Office,Furniture,...,91776,2010-12-13,2010-12-15,4390.3665,12,6362.85,90193,2010-12-13,2010-12-15,2
8,19483,Low,0.08,6.48,6.81,5,Ronnie Proctor,Regular Air,Home Office,Office Supplies,...,91776,2012-05-12,2012-05-21,-141.2600,18,113.25,90197,2012-05-12,2012-05-21,9
9,24782,High,0.01,90.24,0.99,6,Dwight Hwang,Regular Air,Home Office,Office Supplies,...,95123,2011-05-26,2011-05-26,1045.4673,16,1515.17,90194,2011-05-26,2011-05-26,0

# 9 . base on question number 8 find out for which order id we have shipment duration more than 10 days

In [30]:
orders.dtypes

Row ID                           int64
Order Priority                  object
Discount                       float64
Unit Price                     float64
Shipping Cost                  float64
Customer ID                      int64
Customer Name                   object
Ship Mode                       object
Customer Segment                object
Product Category                object
Product Sub-Category            object
Product Container               object
Product Name                    object
Product Base Margin            float64
Region                          object
State or Province               object
City                            object
Postal Code                      int64
Order Date              datetime64[ns]
Ship Date               datetime64[ns]
Profit                         float64
Quantity ordered new             int64
Sales                          float64
Order ID                         int64
converted_Order Date    datetime64[ns]
converted_Ship Date     datetime64[ns]
diff_order_ship                  int64
dtype: object

In [31]:
shipping =orders.groupby('Order ID')['diff_order_ship'].sum()

In [32]:
shipping = shipping.to_frame(name = 'ship_days').reset_index()

In [33]:
shipping

      Order ID  ship_days
0            6          1
1          193          2
2          322          4
3          358          2
4          359          1
...        ...        ...
6450     91587          0
6451     91588          2
6452     91589          6
6453     91590         14
6454     91591          3

[6455 rows x 2 columns]

In [34]:
shipping[shipping['ship_days'] > 10][['Order ID', 'ship_days']]

      Order ID  ship_days
62        5509         12
68        5984         12
89        8257         11
212      19041         13
219      19556         56
...        ...        ...
6331     91468         14
6368     91505         11
6407     91544         12
6439     91576         16
6453     91590         14

[202 rows x 2 columns]

# 10 . Try to find out a list of a returned order which shipment duration was more then 15 days and find out that region manager as well

In [35]:
order_return

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,State or Province,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Illinois,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,No
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,No
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,No
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Washington,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,No
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Washington,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,No
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,West Virginia,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,No
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,West Virginia,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,No
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Wyoming,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,No
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Wyoming,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,No

In [36]:
order_users_return = pd.merge(order_return, users, how='left', left_on = 'Region', right_on = 'Region' )
order_users_return

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,City,Postal Code,Order Date,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Manager
0,18606,Not Specified,0.01,2.88,0.50,2,Janice Fletcher,Regular Air,Corporate,Office Supplies,...,Addison,60101,2012-05-28,2012-05-30,1.320000,2,5.90,88525,No,Chris
1,20847,High,0.01,2.84,0.93,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2010-07-07,2010-07-08,4.560000,4,13.01,88522,No,William
2,23086,Not Specified,0.03,6.68,6.15,3,Bonnie Potter,Express Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-47.640000,7,49.92,88523,No,William
3,23087,Not Specified,0.01,5.68,3.60,3,Bonnie Potter,Regular Air,Corporate,Office Supplies,...,Anacortes,98221,2011-07-27,2011-07-28,-30.510000,7,41.64,88523,No,William
4,23088,Not Specified,0.00,205.99,2.50,3,Bonnie Potter,Express Air,Corporate,Technology,...,Anacortes,98221,2011-07-27,2011-07-27,998.202300,8,1446.67,88523,No,William
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9421,20275,Critical,0.06,35.89,14.72,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-15,137.860000,13,447.87,87532,No,Erin
9422,20276,Critical,0.00,3.34,7.49,3402,Frederick Cole,Regular Air,Consumer,Office Supplies,...,Charleston,25314,2013-05-14,2013-05-14,-39.070000,3,13.23,87532,No,Erin
9423,24491,Not Specified,0.08,550.98,45.70,3402,Frederick Cole,Delivery Truck,Consumer,Furniture,...,Charleston,25314,2013-09-12,2013-09-14,-1225.029097,4,2215.93,87533,No,Erin
9424,25914,High,0.10,105.98,13.99,3403,Tammy Buckley,Express Air,Consumer,Furniture,...,Cheyenne,82001,2010-02-08,2010-02-11,349.485000,5,506.50,87530,No,William
9425,24492,Not Specified,0.09,7.78,2.50,3403,Tammy Buckley,Express Air,Consumer,Office Supplies,...,Cheyenne,82001,2013-09-12,2013-09-14,78.062400,23,172.48,87533,No,William

In [37]:
order_users_return['converted_Order Date'] = pd.to_datetime(order_users_return['Order Date'])

In [38]:
order_users_return['converted_Ship Date'] = pd.to_datetime(order_users_return['Ship Date'])

In [39]:
order_users_return['diff_order_ship'] = (order_users_return['converted_Ship Date']- order_users_return['converted_Order Date']).dt.days

In [40]:
morethan_15 = order_users_return[order_users_return['diff_order_ship'] > 15]
morethan_15

,Row ID,Order Priority,Discount,Unit Price,Shipping Cost,Customer ID,Customer Name,Ship Mode,Customer Segment,Product Category,...,Ship Date,Profit,Quantity ordered new,Sales,Order ID,Status,Manager,converted_Order Date,converted_Ship Date,diff_order_ship
643,18246,Critical,0.05,11.09,5.25,250,Brenda Nelson Blanchard,Regular Air,Corporate,Office Supplies,...,2012-03-22,58.5000,19,204.67,87215,No,Chris,2011-12-29,2012-03-22,84
1678,20703,Not Specified,0.07,130.98,30.00,637,Christopher Bryant,Delivery Truck,Consumer,Furniture,...,2012-01-16,-211.8850,21,2699.94,87957,No,William,2011-12-30,2012-01-16,17
1680,20705,Not Specified,0.08,115.99,4.23,637,Christopher Bryant,Regular Air,Consumer,Technology,...,2012-01-27,1021.4001,16,1480.29,87957,No,William,2011-12-30,2012-01-27,28
1697,2703,Not Specified,0.07,130.98,30.00,640,Neal Wolfe,Delivery Truck,Consumer,Furniture,...,2012-01-16,-423.7700,83,10671.20,19556,No,William,2011-12-30,2012-01-16,17
1699,2705,Not Specified,0.08,115.99,4.23,640,Neal Wolfe,Regular Air,Consumer,Technology,...,2012-01-27,727.3620,65,6013.69,19556,No,William,2011-12-30,2012-01-27,28
2515,18060,Low,0.02,2.21,1.00,964,Virginia Rivera,Regular Air,Home Office,Office Supplies,...,2012-03-31,5.8200,10,22.35,86177,No,William,2011-12-30,2012-03-31,92
5673,19005,Low,0.06,65.99,2.50,2088,Carrie Boyle,Regular Air,Corporate,Technology,...,2012-01-14,187.4880,8,451.34,88352,No,Erin,2011-12-28,2012-01-14,17
5859,24392,Low,0.05,29.89,1.99,2143,Lester Sawyer,Regular Air,Home Office,Technology,...,2012-01-17,4230.2001,12,344.16,87572,No,Sam,2011-12-26,2012-01-17,22
5881,21257,Low,0.05,7.99,5.03,2153,Anna Glenn,Regular Air,Home Office,Technology,...,2012-01-19,-23.4520,2,15.56,91294,No,William,2011-12-26,2012-01-19,24
8607,26351,Medium,0.00,8.32,2.38,3119,Jay Hubbard,Express Air,Corporate,Technology,...,2012-01-16,-1075.3960,19,170.62,86434,No,Sam,2011-12-29,2012-01-16,18
8609,26350,Medium,0.07,180.98,55.24,3119,Jay Hubbard,Delivery Truck,Corporate,Office Supplies,...,2014-01-15,-147.5180,25,4529.95,86436,No,Sam,2013-12-29,2014-01-15,17
8610,26352,Medium,0.06,4.20,2.26,3119,Jay Hubbard,Regular Air,Corporate,Office Supplies,...,2014-01-17,-689.8738,2,9.64,86436,No,Sam,2013-12-29,2014-01-17,19
8973,20750,Low,0.06,125.99,8.08,3248,Earl Donnelly,Express Air,Corporate,Technology,...,2012-01-14,2.4780,20,2180.31,87300,No,Sam,2011-12-26,2012-01-14,19
8982,2748,Low,0.03,11.97,5.81,3251,Peter Brooks,Regular Air,Corporate,Office Supplies,...,2012-01-22,-31.7400,31,388.52,19841,No,Erin,2011-12-26,2012-01-22,27
8983,2749,Low,0.08,195.99,4.20,3251,Peter Brooks,Regular Air,Corporate,Technology,...,2012-01-26,-557.9530,13,2092.05,19841,No,Erin,2011-12-26,2012-01-26,31
8993,2750,Low,0.06,125.99,8.08,3251,Peter Brooks,Express Air,Corporate,Technology,...,2014-01-14,1304.5590,86,9375.35,19841,No,Erin,2013-12-26,2014-01-14,19
8996,20748,Low,0.03,11.97,5.81,3252,Milton Harrell,Regular Air,Corporate,Office Supplies,...,2012-01-22,-15.8700,8,100.26,87300,No,Erin,2011-12-26,2012-01-22,27
8997,20749,Low,0.08,195.99,4.20,3252,Milton Harrell,Regular Air,Corporate,Technology,...,2012-01-26,-278.9765,3,482.78,87300,No,Erin,2011-12-26,2012-01-26,31

In [41]:
morethan_15 = morethan_15[morethan_15['Status'] == 'Returned']
morethan_15

Empty DataFrame
Columns: [Row ID, Order Priority, Discount, Unit Price, Shipping Cost, Customer ID, Customer Name, Ship Mode, Customer Segment, Product Category, Product Sub-Category, Product Container, Product Name, Product Base Margin, Region, State or Province, City, Postal Code, Order Date, Ship Date, Profit, Quantity ordered new, Sales, Order ID, Status, Manager, converted_Order Date, converted_Ship Date, diff_order_ship]
Index: []

[0 rows x 29 columns]

# 11 . Gorup by region and find out which region is more profitable

In [42]:
profit =orders.groupby('Region')['Profit'].sum()
profit

Region
Central    519825.567067
East       377566.186045
South      104201.192420
West       310849.453897
Name: Profit, dtype: float64

In [43]:
profit.nlargest(1)

Region
Central    519825.567067
Name: Profit, dtype: float64

# 12 . Try to find out overall in which country we are giving more discount

In [44]:
order_users_return.columns

Index(['Row ID', 'Order Priority', 'Discount', 'Unit Price', 'Shipping Cost',
       'Customer ID', 'Customer Name', 'Ship Mode', 'Customer Segment',
       'Product Category', 'Product Sub-Category', 'Product Container',
       'Product Name', 'Product Base Margin', 'Region', 'State or Province',
       'City', 'Postal Code', 'Order Date', 'Ship Date', 'Profit',
       'Quantity ordered new', 'Sales', 'Order ID', 'Status', 'Manager',
       'converted_Order Date', 'converted_Ship Date', 'diff_order_ship'],
      dtype='object')

In [45]:
discount =order_users_return.groupby('State or Province')['Discount'].sum().sort_values(ascending=False)
discount

State or Province
California              52.28
Texas                   31.36
Illinois                29.71
New York                28.86
Florida                 26.38
Ohio                    19.71
Washington              15.48
Michigan                15.29
Pennsylvania            13.32
Minnesota               12.52
Indiana                 12.22
North Carolina          12.02
Massachusetts           11.22
Virginia                 9.80
Georgia                  9.79
Maryland                 8.85
New Jersey               8.73
Tennessee                8.55
Oregon                   8.42
Missouri                 8.09
Wisconsin                8.06
Colorado                 8.05
Utah                     7.67
Iowa                     7.15
Kansas                   6.89
Arizona                  6.86
Maine                    6.66
Alabama                  5.87
Arkansas                 5.80
Idaho                    5.57
South Carolina           5.34
Oklahoma                 5.17
Louisiana                4.86
Connecticut              4.28
Kentucky                 4.23
New Mexico               4.08
Mississippi              3.89
Nebraska                 3.59
Vermont                  3.19
District of Columbia     3.10
New Hampshire            2.62
Montana                  2.39
West Virginia            2.16
Nevada                   1.80
North Dakota             1.71
South Dakota             1.30
Wyoming                  1.15
Rhode Island             1.09
Delaware                 0.66
Name: Discount, dtype: float64

In [46]:
discount.nlargest(1)

State or Province
California    52.28
Name: Discount, dtype: float64

# 13 . Give me a list of unique postal code

In [47]:
print(pd.unique(orders['Postal Code']))

[60101 98221 91776 ... 61832 62521 26554]

# 14 . which customer segement is more profitalble find it out .

In [48]:
segment =orders.groupby('Customer Segment')['Profit'].sum()
segment

Customer Segment
Consumer          206559.625348
Corporate         505538.627783
Home Office       283869.553814
Small Business    316474.592482
Name: Profit, dtype: float64

In [49]:
segment.nlargest(1)

Customer Segment
Corporate    505538.627783
Name: Profit, dtype: float64

# 15 . try to find out the 10th most loss making product catagory .

In [50]:
product =orders.groupby('Product Name')['Profit'].sum().nsmallest(10)
product

Product Name
Okidata Pacemark 4410N Wide Format Dot Matrix Printer                            -39743.177832
Polycom ViewStation™ ISDN Videoconferencing Unit                                 -36446.423528
Epson DFX-8500 Dot Matrix Printer                                                -29557.665792
Global High-Back Leather Tilter, Burgundy                                        -23236.837560
Lesro Sheffield Collection Coffee Table, End Table, Center Table, Corner Table   -14874.638164
Hoover Portapower™ Portable Vacuum                                               -14120.392820
Large Capacity Hanging Post Binders                                              -12442.721780
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables                -11541.176706
KI Conference Tables                                                             -10066.260905
Eldon ClusterMat Chair Mat with Cordless Antistatic Protection                    -9543.652500
Name: Profit, dtype: float64

In [51]:
product = product.to_frame(name = 'loss').reset_index()
product

                                        Product Name          loss
0  Okidata Pacemark 4410N Wide Format Dot Matrix ... -39743.177832
1   Polycom ViewStation™ ISDN Videoconferencing Unit -36446.423528
2                  Epson DFX-8500 Dot Matrix Printer -29557.665792
3          Global High-Back Leather Tilter, Burgundy -23236.837560
4  Lesro Sheffield Collection Coffee Table, End T... -14874.638164
5                 Hoover Portapower™ Portable Vacuum -14120.392820
6                Large Capacity Hanging Post Binders -12442.721780
7  BoxOffice By Design Rectangular and Half-Moon ... -11541.176706
8                               KI Conference Tables -10066.260905
9  Eldon ClusterMat Chair Mat with Cordless Antis...  -9543.652500

In [52]:
product.iloc[-1]

Product Name    Eldon ClusterMat Chair Mat with Cordless Antis...
loss                                                   -9543.6525
Name: 9, dtype: object

# 16 . Try to find out 10 top  product with highest margins

In [53]:
margin =orders.groupby('Product Name')['Product Base Margin'].sum().nlargest(10)
margin

Product Name
Global High-Back Leather Tilter, Burgundy                                                    19.98
BoxOffice By Design Rectangular and Half-Moon Meeting Room Tables                            18.33
Bevis 36 x 72 Conference Tables                                                              16.38
Adesso Programmable 142-Key Keyboard                                                         15.45
Accessory36                                                                                  14.11
Office Star - Mid Back Dual function Ergonomic High Back Chair with 2-Way Adjustable Arms    13.64
Office Star - Contemporary Task Swivel chair with 2-way adjustable arms, Plum                13.26
Microsoft Internet Keyboard                                                                  13.21
StarTAC 7760                                                                                 12.98
Serrated Blade or Curved Handle Hand Letter Openers                                          12.60
Name: Product Base Margin, dtype: float64